<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://vizew.az/schemas/NLog.xsd" xmlns:xsi="http://vizew.az">
  <!--<variable name="callsite-filesource" value="${callsite:className=false:includeNamespace=false:fileName=true:includeSourcePath=true:methodName=false:cleanNamesOfAnonymousDelegates=true:skipFrames=1}" />-->
  <variable name="appName" value="Vizew Web Site" />
  <variable name="toMail" value="akamran@code.edu.az" />
  <variable name="ccMails" value="" />
  
  <variable name="callsite-methodname" value="${callsite:className=true:includeNamespace=true:fileName=false:includeSourcePath=false:methodName=true:cleanNamesOfAnonymousDelegates=true}" />
  <variable name="callsite-filesource" value="${callsite:className=false:includeNamespace=false:fileName=true:includeSourcePath=true:methodName=false:cleanNamesOfAnonymousDelegates=true}" />
  <targets>
    <target name="default" xsi:type="File"
              fileName="${basedir}/Logs/Default.log"
              layout="${longdate} ${level:uppercase=true:padding=5} ${session} ${storeid} ${msisdn} - ${message}  ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="${basedir}/Logs/Default_{#}.log"
              archiveNumbering="Date"
              archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="14"
              keepFileOpen="true"
              
            />

    <target name="errors" xsi:type="File"
              fileName="${basedir}/Logs/Error.log"
              layout="${longdate} ${level:uppercase=true:padding=5} ${session} ${storeid} ${msisdn} -${message} ${exception:format=tostring}"
              archiveEvery="Day"
              archiveFileName="${basedir}/Logs/Error_{#}.log"
              archiveNumbering="Date"
           archiveDateFormat="yyyyMMdd"
              maxArchiveFiles="14"
              keepFileOpen="true"
            />

    <target name="mail" xsi:type="Mail"
        subject="${var:appName}"
        smtpServer="smtp.mail.ru"
        smtpPort="25"
        smtpAuthentication="Basic"
        smtpUserName="fullstackstaff"
        smtpPassword="!d@v#l0pmentgroup20!9"
        enableSsl="true"
        from="fullstackstaff@mail.ru"
        to="${var:toMail}"
        cc="${var:ccMails}"
          />
    
    <target name="database" xsi:type="Database" >
      <connectionString>data source=.;initial catalog=UniCore;user id=logger;password=logger;application name="${var:appName}"</connectionString>

      <!---->
      <commandText>dbo.spLogger</commandText>
      <commandType>StoredProcedure</commandType>
      <parameter name="@application" layout="${var:appName}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@memberName" layout="${var:callsite-methodname}"/>
      <parameter name="@sourceFilePath" layout="${var:callsite-filesource}"/>
      <parameter name="@errorLine" layout="${callsite-linenumber}"/>
      
    </target>
    
  </targets>
  <rules>
    <logger name="*" levels ="Trace,Debug,Info,Warn" writeTo="default" />
    <logger name="*" levels ="Error,Fatal" writeTo="errors" />
    <logger name="*" levels ="Error,Fatal" writeTo="mail" />
  </rules>
</nlog>
